{% extends 'df_user/user_center_base.html'%}

{% block extra %}
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">
    </script>
{% endblock %}

{% block body_center %}
	<div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>用户中心</h3>
            <ul>
                <li><a href="/user/user_center_info" >· 个人信息</a></li>
                <li><a href="/user/user_center_order" class="active">· 全部订单</a></li>
                <li><a href="/user/user_center_site">· 收货地址</a></li>
            </ul>
        </div>
		<div class="right_content clearfix">
            <h3 class="common_title2">全部订单</h3>
            <ul class="order_list_th w978 clearfix">
                <li class="col01">{{order.odatetime}}</li>
                <li class="col02">订单号：{{order.oid}}</li>
                <li class="col02 stress">
                    {% if order.opay %}
                    已支付
                    {% else %}
                    未支付
                    {% endif %}
                </li>
            </ul>
            <table class="order_list_table w980">
                <tbody>
                    <tr>
                        <td width="55%">
                            {% for goods in order_detail %}
                            <ul class="order_goods_list clearfix">
                                <li class="col01"><img src="/static/media/{{goods.goods.gthumb}}"></li>
                                <li class="col02">{{goods.goods.gtitle}}<em>{{goods.goods.price}}元/{{goods.goods.unit}}</em></li>
                                <li class="col03">{{goods.amount}}</li>
                                <li class="col04">{{goods.subtotal}}元</li>
                            </ul>
                            {% endfor %}
                        </td>
                        <td width="15%">{{order.ototal}}元</td>
                        <td width="15%">
                            {% if order.opay %}
                            查看物流
                            {% else %}
                            待付款
                            {% endif %}
                        </td>
                        <td width="15%"><a href="/order/place_order?order_id={{order.oid}}" class="oper_btn">去付款</a></td>
                    </tr>
                </tbody>
            </table>
            <div class="pagenation">
                {% if order_info.has_previous == True%}
                <a href="/user/user_center_order/{{order_info.number|add:+1}}"><上一页</a>
                {% endif %}
                {% for index in order_info.paginator.page_range %}
                <a href="/user/user_center_order/{{index}}"
                   {% if order_info.number == index %} class="active"{% endif %}>{{index}}</a>
                {% endfor %}
                {% if order_info.has_next == True%}
                <a href="/user/user_center_order/{{order_info.number|add:+1}}"><下一页</a>
                {% endif %}
            </div>
{% endblock body_center %}


