{% extends 'base.html'%}

{% block body_header %}
	<div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		{% if order_num|default_if_none:-1 != -1 %}
		<div class="guest_cart fr">
			<a href="/user/cart" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">{{order_num}}</div>
		</div>
		{% endif %}
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="/goods/list1_1_1" class="fruit">新鲜水果</a></li>
					<li><a href="/goods/list2_1_1" class="seafood">海鲜水产</a></li>
					<li><a href="/goods/list3_1_1" class="meet">猪牛羊肉</a></li>
					<li><a href="/goods/list4_1_1" class="egg">禽类蛋品</a></li>
					<li><a href="/goods/list5_1_1" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/goods/list6_1_1" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>
{% endblock %}