{% extends 'df_goods/base.html' %}

{% block head%}
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-商品详情</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
{% endblock head%}

{% block body_center%}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{goods.gtype.goods_type}}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/media/{{goods.gpic}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{goods.gtitle}}</h3>
			<span style="display:none;" id="goods_id">{{goods.id}}</span>
			<p>{{goods.ginfo}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{goods.price}}</em></span>
				<span class="show_unit">单  位：{{goods.unit}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" id="num_show" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>
				</div> 
			</div>
			<div class="total">总价：<em>{{goods.price}}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{% for adv in list %}
					<li>
						{# 由货物的id去请求对应的图片#}
						<a href="#"><img src="/static/media/{{adv.gthumb}}"></a>
						<h4><a href="#">{{adv.gtitle}}</a></h4>
						<div class="prize">￥{{adv.price}}</div>
					</li>

					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active" value="0">商品介绍</li>
				<li value="1">评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{goods.gdetail}}</dd>
				</dl>
			</div>
			<div class="tab_comment" style="display:none">
				<form action="">
					<label>
						<textarea name="comment_content">富文本</textarea>
					</label>
					<br>
					<input type="submit" value="提交评论" class="btn btn-default">
				</form>
			</div>
		</div>
	</div>

	<div class="add_jump"></div>

<script type="text/javascript" src="/static/js/detail.js"></script>
<script type="text/javascript" src="/static/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" >
    tinyMCE.init({
        'mode': 'textareas',
        'theme': 'advanced',
        'width': 400,
        'height': 100
    });
</script>
{% endblock body_center%}
	
