{% extends 'df_goods/base.html'%}

{% block head%}
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-商品列表</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
{% endblock %}

{% block body_center%}
	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="#" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="/goods/list1_1_1" class="fruit">新鲜水果</a></li>
					<li><a href="/goods/list2_1_1" class="seafood">海鲜水产</a></li>
					<li><a href="/goods/list3_1_1" class="meet">猪牛羊肉</a></li>
					<li><a href="/goods/list4_1_1" class="egg">禽类蛋品</a></li>
					<li><a href="/goods/list5_1_1" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/goods/list6_1_1" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="/goods/list0_1_1">全部分类</a>
		<span>></span>
		{% if type != None %}
		<a href="#">{{type}}</a>
		{% endif %}
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{% for adv in adv_list %}
					<li>
						{# 由货物的id去请求对应的图片#}
						<a href="/goods/gdetail{{adv.id}}"><img src="/static/media/{{adv.gthumb}}"></a>
						<h4><a href="#">{{adv.gtitle}}</a></h4>
						<div class="prize">￥{{adv.price}}</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/goods/list{{type_id}}_1_1" class="active">默认</a>
				<a href="/goods/list{{type_id}}_1_2">价格</a>
				<a href="/goods/list{{type_id}}_1_3">人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				{% for goods in goods_list %}
				<li>
					{# 由货物的id去请求对应的图片,由于数据不够暂时先用固定地址#}
					<a href="/goods/gdetail{{goods.id}}.html"><img src="/static/media/{{goods.gthumb}}"></a>
					<h4><a href="detail.html">{{goods.gtitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥ {{goods.price}}</span>
						<span class="unit">{{goods.price}}/{{goods.unit}}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{% endfor %}
			</ul>

			<div class="pagenation">
				{% if goods_list.has_previous == True%}
				<a href="/goods/list{{type_id}}_{{goods_list.number|add:-1}}_{{sorted}}"><上一页</a>
				{% endif %}
				{% if goods_list.paginator.num_pages < 5 %}
					{% for index in goods_list.paginator.page_range %}
					<a href="/goods/list{{type_id}}_{{index}}_{{sorted}}"
					   {% if goods_list.number == index%} class="active"{% endif %}>{{index}}</a>
					{% endfor %}
				{% endif %}
				{% if goods_list.has_next == True%}
				<a href="/goods/list{{type_id}}_{{goods_list.number|add:1}}_{{sorted}}">下一页></a>
				{% endif %}
			</div>
		</div>
	</div>

<script type="text/javascript">
	{# sorted这里是按1开始计数的，jquery的选择集是按0开始计数的所以要减去1#}
    $('.sort_bar').children().eq({{sorted|add:-1}}).addClass('active').siblings().removeClass('active');
</script>
{% endblock%}
